*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

body{
	background-image: url(../img/csern_front1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100vh;
	background-position: center;
	
}